.Background
{
    position: fixed;
    padding: 30px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-y: scroll;
    overflow-x:auto;
    /*display: flex;
    flex-direction: column;*/
}
.Background.BackgroundNoTopPadding
{
    padding-top: 0px;
}
.Card
{
    padding: 30px;
    border-radius: 30px;
    transition: backdrop-filter 0.5s ease-in-out, background 0.2s ease-in-out,
                box-shadow 0.5s ease-in-out;
}
.Card.CardTitle
{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.Card:hover
{
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.08);
    transition: backdrop-filter 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.Text
{
    /*color: rgb(0,0,0);*/
    font-family: "LXGW Wenkai";
    white-space:pre-wrap;
}

.HeadNavigator
{
    padding: 0;
    min-height: 48px;
    background-color: transparent;
}

.HeadNavigatorItem
{
    cursor: pointer;
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 48px;
    white-space: nowrap;
    border-radius: 15px;
    background-color: transparent;
    /*backdrop-filter: opacity(0.5);*/
    transition: background-color 0.5s, color 0.5s;
}